<% include partials/header %>
<div class="main-container">
    <section class="jumbotron">
        <header>
            <h1 class="display-4 text-center">Oooppss! Page not found...</h1>
            <p class="text-center"><a href="/">Go Back to Login Page</a></p>
        </header>
    </section>
    
</div>

<% include partials/footer %>
